.newsItem {
    text-decoration: none;
    color: #333;
    margin: 10px;
    border-radius: 5px;
    width: calc(100% - 20px);
    max-width: 300px;
    display: inline-block;
    border: 1px solid rgb(255, 241, 241);
    vertical-align: top;
    text-align: left;
    transition: transform 0.13s ease-in;
}
.newsItem img {
    width: 100%;
}
.newsItem img {
    opacity:0; 
    transition: opacity 1s ease-in;
}
.newsItem img.loaded {
    opacity:1
}
.newsItem:hover {
    transform: scale(1.02);
}
.newsItem img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.newsItem .title {
    margin: 5px;
}
.newsItem time { 
    color: #555;
    font-size: 1em;
}
.newsItem .details {
    padding: 5px;
    margin-bottom: 10px
}
.newsItem .details p {
    margin: 2px 0;
    font-size: 1em;
}