.newsWidget {
  margin: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;
}
.newsWidgetHead {
  padding: 5px 10px;
  text-align: initial;
  border-bottom: 10px dotted #eee;
}

.providersFilters {
  padding: 10px;
  border: 1px dotted #ccc;
}
.providersFilters label {
  border: 1px solid #eee;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
